<section class="page">
<div class="centered-box">
    <h1>Everything is fine.</h1>

    <form action="<%= users_url %>" method="POST">
        <%= auth_token %>
        <label for="user_email">Email: </label>
        <input type="text"
            name = "user[email]"
            id="user_email"
            value="<%= @user.email%>"
        >

        <label for="user_password">Password: </label>
        <input type="password"
            name = "user[password]"
            id="user_password"
            value="<%= @user.password %>"
        >
        <input type="submit" value="Sign Up">
    </form>
</div>
</section>